@import "tailwindcss";

@theme {

  /* Colors */

  --color-background: #090B10;
  --color-surface: #11161F;
  --color-surface-2: #181F2B;

  --color-accent: #5A8DFF;
  --color-accent-hover: #76A4FF;

  --color-text-primary: #F5F7FA;
  --color-text-secondary: #98A2B3;

  --color-border: rgba(255,255,255,.06);

  --color-online: #22C55E;
  --color-offline: #64748B;

  /* Radius */

  --radius-card: 28px;
  --radius-input: 18px;
  --radius-message: 22px;

  /* Shadows */

  --shadow-panel: 0 16px 40px rgba(0,0,0,.35);

}

html,
body,
#root{
    width:100%;
    height:100%;
}

body{

    margin:0;

    background:var(--color-background);

    color:var(--color-text-primary);

    font-family:"Inter",system-ui,sans-serif;

}

/* Scrollbar */

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#2C3446;

    border-radius:999px;

}